body {
    margin: 0;
    display: flex;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

/* HEADER  */

.site-title {
    margin: 0;
}

.logo {
    width: 50px;
    height: 50px;
}

.site-logo{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 30px;
}

.header {
    margin: 0;
    width: 400px;
    height: 100vh;
    background-color: #F8F9FE;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.nav-categories{
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.section{
    margin-left: 40px;
    display: flex;
    align-items: center;
    gap: 10px;
    height: 30px;
    width: 320px;
    border-radius: 5px;
    border: none;
    background-color: #F8F9FE;
    color: #9AA3AE;
    transition: 0.2s ease;
    position: relative;
}

.section-icon{
    width: 25px;
    height: 25px;
}

.section-title{
    font-size: 15px;
}

.section:hover{
    background-color: #E5EAFE;
    color: #316AEC;
    transform: scale(1.15);
    z-index: 10;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
    cursor: pointer;
}

.section:active {
    transform: scale(0.97);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.12);
}

/* DASHBOARD */

.dashboard{
    display: flex;

}




